<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.qnx.tools.ide.qde.ui.QDELaunch">
<booleanAttribute key="auto_pick_program" value="false"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_ATTR" value="172.16.26.2"/>
<booleanAttribute key="defaults_pending" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="build/x86_64-debug/myDevice"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="myDevice"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/myDevice"/>
<listEntry value="/myDevice/build/x86_64-debug/myDevice"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
